<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="AXA_NAME_CARD.Properties.Settings.ConSql" connectionString="Server=DESKTOP-TB9I41A\SQLEXPRESS;Database=SINARMAS;User Id=admin;Password=admin"/>
    <add name="AXA_NAME_CARD.Properties.Settings.ConMDB" connectionString="D:\KARTAJAYA\KARTU-NAMA\AXA-NAME-CARD\AXA-NAME-CARD\bin\Debug\AxaNameCard.mdb"/>
    <add name="AXA_NAME_CARD.Properties.Settings.AxaNameCardConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\AxaNameCard.mdb" providerName="System.Data.OleDb"/>
    <add name="AXA_NAME_CARD.Properties.Settings.Database1ConnectionString" connectionString="Data Source=|DataDirectory|\Database1.sdf" providerName="Microsoft.SqlServerCe.Client.4.0"/>
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
